@use "../base/variables" as *;

.testimonials {
  display: grid;
  gap: $spacing-24 $spacing-32;
  margin: 0 auto;
  grid-template-areas:
    "t-1"
    "t-2"
    "t-3"
    "t-4"
    "t-5";

  // Tablet: 2 columnas
  @media (768px <= width < 912px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 647px;
    grid-template-areas:
      "t-1 t-1"
      "t-2 t-3"
      "t-4 t-4"
      "t-5 t-5";
  }

  @media (912px <= width < 1280px) {
    grid-template-columns: repeat(2, 1fr);
    max-width: 80vw;
    grid-template-areas:
      "t-1 t-1"
      "t-2 t-3"
      "t-4 t-4"
      "t-5 t-5";
  }

  // Desktop: 4 columnas
  @media (width >= 1280px) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    max-width: 1114px;
    grid-template-areas:
      "t-1 t-1 t-2 t-5"
      "t-3 t-4 t-4 t-5";
  }
}
