@use "../base/variables" as *;
@use "../base/mixins" as *;

.testimonial {
  display: flex;
  flex-direction: column;
  gap: $spacing-16;
  padding: $spacing-32;
  background-color: $color-purple-500;
  color: $color-white;
  border-radius: $spacing-8;
  box-shadow: $shadow;

  &__user {
    display: flex;
    align-items: center;
    gap: $spacing-16;

    &-avatar {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      outline: 2px solid $color-purple-300;
      overflow: hidden;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: $spacing-4;

      &__verified {
        @include text-preset-4;
        color: $color-purple-50;
      }
    }
  }

  &__title {
    @include text-preset-1;
  }

  &__content {
    @include text-preset-3;
    color: $color-purple-50;
  }
}
